/* Hero Section */
.hero {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  padding: 100px 0;
  color: white;
}

.highlight {
  color: #00bcd4;
  font-weight: bold;
}

.section-title {
  font-size: 2.2rem;
  font-weight: 600;
}

/* Projects */
.project-box {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

footer {
  font-size: 0.9rem;
}
